<IfModule mod_rewrite.c>
        RewriteEngine On

        # Removes index.php from ExpressionEngine URLs
        RewriteCond $1 !\.(gif|jpe?g|png)$ [NC]
        RewriteCond %{REQUEST_FILENAME} !-f
        RewriteCond %{REQUEST_FILENAME} !-d
        RewriteRule ^(index).html$ index.html [L]

        RewriteRule ^([a-zA-Z0-9_-]+).html$ page/$1.html
        RewriteRule ^chi-tiet-phong-tro/([a-zA-Z0-9_-]+).html$ page/room_detail.html?slug=$1
        RewriteRule ^danh-muc/([a-zA-Z0-9_-]+).html$ page/danh-muc.html?slug=$1&number=10
        RewriteRule ^tim-kiem-phong-tro?([a-zA-Z0-9_-]+)$ page/search.html
        RewriteRule ^quan-tri-websites/([a-zA-Z0-9_-]+).html$ page/admin/$1.html
        RewriteRule ^sua-bai-dang/([a-zA-Z0-9_-]+).html$ sua-bai-dang.html
</IfModule>