.navbar {
    background-color: rgba(116, 84, 185, 0.9) !important;
    font-size: 0.9rem;
}

    .navbar li {
        margin-right: 0.2rem;
    }

        .navbar li a {
            color: white !important;
        }

.navbar-nav > li > a:hover {
    color: rgb(230, 230, 230) !important;
}

.navbar li a:hover {
    text-decoration: none;
}

/* Dropdown */
.navbar .dropdown .dropdown-menu li a {
    padding-left: 0.5rem;
}

.navbar .dropdown .dropdown-menu li a {
    color: #000000 !important;
}

    .navbar .dropdown .dropdown-menu li a .icon {
        padding-left: 0.2rem;
        width: 1.2rem;
    }

.navbar .dropdown .dropdown-menu li a {
    padding-left: 0.3rem;
    font-size: 0.8rem;
}

    .navbar .dropdown .dropdown-menu li a:hover {
        color: rgb(10, 25, 238) !important;
    }

.navbar .dropdown .dropdown-menu li:hover {
    background-color: #e2dede !important;
}

.navbar .dropdown .dropdown-menu li:hover {
    background-color: #e2dede !important;
}
