/* Thống kê */
.statistic-content .statistic{
    margin-bottom: 10px;
}
.statistic-content .statistic-item{
    border:1px solid #ccc;
    font-size: 0.8rem;
    min-height: 120px;
    padding: 8px;
    margin-left: 5px;
    color: #fff;
    background-color:rgb(163, 175, 164);
}
.bg-green{
    background-color:rgb(23, 196, 37)!important;
}
.bg-blue{
    background-color: rgb(49, 103, 252)!important;
}
.bg-orange{
    background-color: #df9903!important;
}
.bg-teal {
    background-color: #26A69A!important;
    border-color: #26A69A!important;
}

/* Báo cáo */
.report-content, .comments-content{
    margin: 10px;
}

/* Bảng thống kê */
table tbody tr td.title{
    font-weight: bold;
    font-size: 0.8rem;
}
table tbody tr td .dropdown button{
    
}

/* Đánh giá */
span.checked {
    color: rgb(248, 212, 8);
}

/* Chân trang  */
.utility-website{
    margin-top: 6px;
    font-size: 1.2rem;
    font-weight: bold;
}