.entry-title{
    text-align: center;
}
.panel-heading, .require{
    color: red;
}
.form-group > label {
    display: inline-block;
    margin-top: 8px;
    font-weight: 700;
}
.form-group select{
    box-sizing: border-box;
    padding-left: 0.2rem;
    min-width: 100%;
    height: 2.3rem;
    border-radius: 0.3rem;
}
.utility > label {
    font-size: 0.9rem;
}
/* Yêu thích */
.btn-post{
    margin-top: 1rem;
    margin-left: 20%;
    width: 60%;
    height: 2.5rem;
    font-size: 1.2rem;
    font-weight: bold;
}