/* Thông tin phòng trọ */
.entry-title{
    font-size: 1.5rem;
}
#map-detail{
    height: 400px;
}
.price_area {
    color: #ec1e28;
    font-size: 1.2rem;
    padding: 1rem 0 3px;
}
.price_label {
    font-size: 1rem;
    margin-top: 2px;
    color: #ff0000;
}
.fa-street-view, .fa-users{
    margin-left: 5px;
}
#isGeneral{
    margin-left: 10px;
}
.pull-right{
    float: right;
}
pre{
    white-space: pre-wrap;
}
pre {
    font-family: sans-serif, Helvetica, Arial, sans-serif!important;
    display: block;
    padding: 0px!important;
    margin: 0px!important;
    font-size: 1rem!important;
    word-break: break-all;
    word-wrap: break-word;
    border: none!important;
    border-radius: 0px!important;
    background-color: #ffffff!important;
}

/* Tiện ích */
#km-detail {
    border: 1px solid #03a742;
    margin-bottom: 10px;
}
#km-detail i {
    color:#03a742;
}
#km-detail span {
    margin-right: 5px;
}
.utility-room {
    font-weight: bold;
    color: #fff;
    padding: 4px 10px;
    background-color: #03a742;
    border: 1px dashed #03a742;
}

/* Thông tin chủ trọ*/

.user_avatar {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border-width: 3px;
    border-color: #ffffff;
    border-radius: 50%;
}
.phone_btn{
    margin-bottom: 15px;
    padding-top: 15px;
}

/* Báo cáo phòng trọ */
.report {
    border: 2px dashed #ed1c24;
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px;
}

/* Yêu thích */
.favorite-room{
    margin-top: 1rem;
    margin-left: 30%;
    width: 40%;
    height: 2.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(255, 199, 16);
    border: 3px solid rgb(253, 187, 7);
    border-radius: 8px;
}
.favorite-room:hover{
    color: rgb(250, 184, 3);
}
/* Comments */
.post-comments div .media {
    margin-top: 0.6rem;
    padding-top: 0.8rem;
}
.post-comments .media:nth-child(1) {
    padding-top: 0.8rem;
    border-top: 1px solid #b9b9b9;
}
.post-comments .media .media-left {
    padding-right: 0.8rem;
}
.post-comments .media .media-left .media-object {
    width:3rem;
    border-radius: 50%;
}
.post-comments .media .media-body .media-heading h4 {
    text-transform: capitalize;
}
.post-comments .media .media-body .media-heading .time {
    font-size: 0.8rem;
    margin-right: 0.8rem;
    color: #506485;
}
.post-comments .media .media-body .media-heading .reply {
    font-size: 0.8rem;
    color: #506485;
}
.post-comments .media .media-body .media-heading .reply:hover, .post-comments .media .media-body .media-heading .reply:focus {
    color: #0b44c0;
    text-decoration: none;
}
.post-comments h4{
    font-size: 1.1rem;
}
.post-comments p{
    font-size: 1rem;
}