RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d

RewriteRule ^(index).html$ trang-chu.html
RewriteRule ^chi-tiet-phong-tro/([a-zA-Z0-9_-]+).html$ room_detail.html?slug=$1
RewriteRule ^danh-muc/([a-zA-Z0-9_-]+).html$ danh-muc.html?slug=$1&number=10
RewriteRule ^tim-kiem-phong-tro?([a-zA-Z0-9_-]+)$ search.html

